body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background-color: #282828;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 500;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
	padding: 0;
	text-decoration: none;
}
